.calendar{
    overflow: hidden;
}
.calendar td{
    padding: 5px;
    text-align: center;
}
.calendar th{
    padding: 1px;
    text-align: center;
    margin: 0px;
    width: 5%;
}
.calendar button{
    background: none;
    border: none;
}
.calendar button :hover{
    color: cornflowerblue;
}
.calendar .today{
    color: #04c4e6#04c4e6;
    background-color: aliceblue;
    font-weight: bold;
}
.calendar .prevMonth{
    background-color: #d1deea;
    color: dimgray;
}
.calendar .nextMonth{
    background-color: #d1deea;
    color: dimgray;
}
.calendar .calpub{
    color: aliceblue;
    background-color: #04c4e6;
    font-weight: bold;
}
.calendar .calpriv{
    color: azure;
    background-color: mediumspringgreen;
    font-weight: bold;
}
.calendar .calpub.calpriv{
    color: floralwhite;
    background-color: #b653ff;
    font-weight: bold;
}
.calendar .calpub.today,.calpriv.today,.calpub.calpriv.today{
    color: #e9f03a;
    background-color: goldenrod;
    font-weight: bold;
}
